/.idea
/target
/server
/files/avatar/*.avatar
/files/judge/**/*.in
/files/judge/**/*.out
/files/submission/**/*.code
/files/submission/**/*.code.o
/files/submission/**/*.code.result
/files/submission/**/*.in
/files/submission/**/*.out
/files/storage.json
