/.idea
/target
/server
/tester
/files/avatar/*.avatar
/files/judge/**/*.in
/files/judge/**/*.out
/files/submission/**/*.code
/files/submission/**/*.code.o
/files/submission/**/*.code.result
/files/submission/**/*.in
/files/submission/**/*.out
/files/storage.json
/certs/*.key
/certs/*.pem
config.json
**/.DS_Store
./run_args.txt
/.vscode